html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ivory;
}

.computer iframe{
  width: 690px;
  height: 580px;
  border: none;
  border-radius: 10px;
  z-index: 2;
}

#film-grain-container {
  pointer-events: none;
}

