body {
    margin: 0;
    padding: 0;
    background: gray;
  }
  
  #webgl,
  #css3d {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  #webgl {
    z-index: 1;
  }

  